.card-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}
:root {
  --bright-blue: #51e2f5;
  --blue-green: #9df9ef;
  --dusty-white: #edf7f6;
  --pink-sand: #ffa8b6;
  --dark-sand: #a28089;
}

.card-footer-item.button {
    padding: 0.5rem;
    font-size: 0.75rem;
    height: auto;
    line-height: 1.2;
    margin: 5px; 
}

.card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ededed;
}

.card-footer-item.button {
    min-width: 60px;
}
.button.is-primary {
  background-color: #51e2f5 !important;
  border-color: #51e2f5 !important;
  color: #333 !important;
}

.button.is-danger {
  background-color: #ffa8b6 !important;
  border-color: #ffa8b6 !important;
  color: #333 !important;
}

.button.is-warning {
  background-color: #edf7f6 !important;
  border-color: #edf7f6 !important;
  color: #333 !important;
}

.button.is-success {
  background-color: #9df9ef !important;
  border-color: #9df9ef !important;
  color: #333 !important;
}

.button.is-link {
  background-color: #a28089 !important;
  border-color: #a28089 !important;
  color: #333 !important;
}

.tag.is-link {
  background-color: #a28089 !important;
  border-color: #a28089 !important;
  color: #fff !important;
}

.tag.is-info {
  background-color: #51e2f5 !important;
  border-color: #51e2f5 !important;
  color: #333 !important;
}

.card .tag.is-success {
  background-color: #9df9ef !important;
  border-color: #9df9ef !important;
  color: #333 !important;
}

.card .tag.is-link {
  background-color: #a28089 !important;
  border-color: #a28089 !important;
  color: #fff !important;
}

